body {
    background: #111629;
    background-image: url('../img/bg-illustration.svg');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 90% 30%;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.input-group input{
    color: #364153;
    border-radius: 50px;
    background-color: #030617;
    border: 2px solid #3662E3;
}

.input-group button{
    border-radius: 50px;
    border: 2px solid #3662E3;
}

.qrLogo{
    margin-left: 5%;
}

.bg-qr{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #1E2C51;
}

.qr{
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 25%;
    top: 28%;
    left: 41%;
    background-color: white;
}

#qrcode{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
}

@media screen and (max-width: 640px) {
    .input-group input, .input-group button {
        width: 50%;
        padding: 2% !important;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 640px) {
    .bg-qr{
        width: 400px;
        border-radius: 50%;
        background-color: #1E2C51;
    }
    
    .qr{
        top: 22%;
        left: 10%;
        width: 360px;
    }
}