body {
    background: #111629;
    background-image: url('./img/bg-illustration.svg');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 90% 30%;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.input-group input{
    color: #364153;
    border-radius: 50px;
    background-color: #030617;
    border: 2px solid #3662E3;
}

.input-group button{
    border-radius: 50px;
    border: 2px solid #3662E3;
}

@media screen and (max-width: 576px) {
    .input-group input, .input-group button {
        width: 50%;
        padding: 2% !important;
        margin-bottom: 10px;
    }
}